<div class="sidebar">
  <div class="menu-header">Menu</div>
  <div class="menu-item">
    <i class="fas fa-tachometer-alt"></i>
    <a routerLink="/tableau-de-bord">Tableau de bord</a>
  </div>
  <div *ngIf="user">
    <div class="menu-item">
      <i class="fas fa-folder"></i>
      <a routerLink="/documents">Documents</a> <!-- Ajoutez cette ligne -->
    </div>
  </div>
  <div class="menu-item">
    <i class="fas fa-search"></i>
    <a routerLink="/recherche-simple">Recherche Simple</a>
  </div>
  <div class="menu-item">
    <i class="fas fa-search-plus"></i>
    <a routerLink="/recherche-avancee">Recherche Avancée</a>
  </div>
  <div *ngIf="user && user.roles.includes('ADMIN')">
    <div class="menu-section"><i class="fas fa-users-cog"></i> Utilisateurs</div>
    <div class="menu-item">
      <a routerLink="/gestion-des-utilisateurs">Gestion des Utilisateurs</a>
    </div>
    <div class="menu-item">
      <a routerLink="/journal-activite">Journal d'activité</a>
    </div>
  </div>
  <div class="menu-section"><i class="fas fa-handshake"></i> Délégation</div>
  <div class="menu-item">
    <a routerLink="/mes-delegations">Mes Délégations</a>
  </div>
  <div class="menu-item">
    <a routerLink="/ajout-delegation">Ajout d'une Délégation</a>
  </div>
</div>
